{{template "head" .}}
{{template "body_start" .}}
<div class="jumbotron">
<div class="container">
    <h1>Hello Mod Developer</h1>
    <p>Register your mod here.</p>
    <p>Please start by creating an admin user.</p>
</div>
</div>
<div class="container">
    <form role="form" method="post">
{{if .Data.errors.internal}}
        <div class="alert alert-danger">
            <strong>Error!</strong> There was a problem while we were processing your request. Please try again later or contact the support.
        </div>
{{end}}
        <p class="help-block">All fields are mandatory.</p>
        {{$userError := or .Data.errors.noUsername | or .Data.errors.usernameLen | or .Data.errors.usernameInUse | or .Data.errors.usernamePattern 0}}
        <div class="form-group{{if $userError}} has-error{{end}}">
            <label for="registerU">Username</label>
            <input type="text" id="registerU" name="username" class="form-control" placeholder="Enter Username" {{if .Data.User.Username}}value="{{.Data.User.Username}}"{{end}}/>
            {{if .Data.errors.noUsername}}
            <p class="help-block">Please enter a username.</p>
            {{end}}
            {{if .Data.errors.usernameLen}}
            <p class="help-block">The username is too short. Minimum length is {{.Data.usernameMinLength}}.</p>
            {{end}}
            {{if .Data.errors.usernamePattern}}
            <p class="help-block">The username must start with a letter. Only alphanumeric characters are allowed.</p>
            {{end}}
            {{if .Data.errors.usernameInUse}}
            <p class="help-block">This username is already in use.</p>
            {{end}}
            {{if not ($userError)}}
            <p class="help-block">Minimum length is {{.Data.usernameMinLength}}. Must start with a letter. Only alphanumeric characters allowed.</p>
            {{end}}
        </div>
        {{$emailError := or .Data.errors.noEmail | or .Data.errors.emailInUse 0}}
        <div class="form-group{{if $emailError}} has-error{{end}}">
            <label for="registerE">E-Mail address</label>
            <input type="email" id="registerE" name="email" class="form-control" placeholder="Enter E-Mail" {{if .Data.User.Email}}value="{{.Data.User.Email}}"{{end}}/>
            {{if .Data.errors.noEmail}}
            <p class="help-block">Please enter an e-mail address.</p>
            {{end}}
            {{if .Data.errors.emailInUse}}
            <p class="help-block">This e-mail address is already in use.</p>
            {{end}}
        </div>
        <div class="form-group{{if or .Data.errors.noPassword | or .Data.errors.passwordLen | or .Data.errors.passwordMismatch 0}} has-error{{end}}">
            <label for="registerP">Password</label>
            <input type="password" id="registerP" name="password" class="form-control" placeholder="Choose a password" />
            {{if .Data.errors.noPassword}}
            <p class="help-block">Please choose a password.</p>
            {{end}}
            {{if .Data.errors.passwordLen}}
            <p class="help-block">Your password is too short. Minimum length is {{.Data.passwordMinLength}}.</p>
            {{end}}
            {{if .Data.errors.passwordMismatch}}
            <p class="help-block">The entered passwords do not match.</p>
            {{end}}
            {{if not (or .Data.errors.noPassword | or .Data.errors.passwordLen | or .Data.errors.passwordMismatch 0)}}
            <p class="help-block">Please choose a reasonably secure password. Minimum length is {{.Data.passwordMinLength}}.</p>
            {{end}}
        </div>
        <div class="form-group{{if or .Data.errors.noPassword | or .Data.errors.passwordLen | or .Data.errors.passwordMismatch 0}} has-error{{end}}">
            <label for="registerP2">Repeat Password</label>
            <input type="password" id="registerP2" name="password2" class="form-control" placeholder="Repeat the password" />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{{template "body_end" .}}
{{template "footer" .}}
